@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
* { box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif; color: #000; outline: none; }

html { font-size: 13px; /* 1rem - 13px */}

/* 공통 초기화 */
body { margin: 0; }
ul, ol { list-style: none; margin: 0; padding: 0; }
dl,dt,dd { margin: 0; padding: 0; }
a { text-decoration: none;}

/* 헤더 영역 S */
header { display: flex; justify-content: space-between; padding: 15px; border-bottom: 1px solid #e6e6e6; }
header .logo img { height: 34px; }
header i { font-size: 2.3rem; }
header .leftLink a { margin-right: 18px; }
header .rightLink a { margin-left: 18px; }
/* 헤더 영역 E */

/* 메뉴 영역 S */
nav { display: flex; height: 45px; }
nav a { width: 0; flex-grow: 1; text-align: center; line-height: 45px; color: #494949; }

/* 메뉴 영역 E */

/* 메인 배너 영역 S */
.swiper-pagination-bullet { width: 12px; height: 12px; background: #fff; opacity: 0.5; }
.swiper-pagination-bullet-active { opacity: 1; }
.swiper-button-next, swiper-button-prev { background: #fff; opacity: 1; }

/* 메인 배너 영역 E */
