<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <th:block th:object="${member}">
            <dl>
                <dt>회원번호</dt>
                <dd th:text="*{userNo}"></dd>
            </dl>
            <dl>
                <dt>아이디</dt>
                <dd th:utext="*{userId}"></dd>
            </dl>
            <dl>
                <dt>비밀번호</dt>
                <dd>[[*{userPw}]]</dd>
            </dl>
            <dl>
                <dt>회원명</dt>
                <dd th:text="*{userNm}"></dd>
            </dl>
            <dl>
                <dt>이메일</dt>
                <dd th:text="*{email}"></dd>
            </dl>
        </th:block>
    </body>
</html>