<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>로그인</title>
    </head>
    <body>
        <form method="post">
            <dl>
                <dt th:text="#{아이디}">아이디</dt>
                <dd>
                    <input type="text" name="userId">
                </dd>
            </dl>
            <dl>
                <dt th:text="#{비밀번호}">비밀번호</dt>
                <dd>
                    <input type="password" name="userPw">
                </dd>
            </dl>
            <button type="submit" th:text="#{로그인}"></button>
            <div class="links">
                <a href="#" th:href="@{/member/find_id}" th:text="#{아이디 찾기}">아이디 찾기</a>
                <a th:href="@{/member/find_pw}" th:text="#{비밀번호 찾기}">비밀번호 찾기</a>
                <a th:href="@{/member/join?key1={key1}(key1=${userId}, key2=value2)}" th:text="#{회원가입}"></a>
            </div>
        </form>
    </body>
</html>